<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography Portfolio & Design</title>
    {% include 'link.html' %}
</head>



<body>
    <!-- 侧边导航栏 -->
    {% include 'menu.html' %}

    <div>

        <main class="flex-column align-center">
            <div class="cover-box flex-column align-center justify-center">
                <span id="typed" style="white-space: pre-wrap;line-height: 30px;" class="desc-title"></span>
            </div>
            
            <img class="design-total-img" src="https://vkceyugu.cdn.bspapp.com/VKCEYUGU-49bdbaed-e3f4-48f9-a64f-e563b0edcd86/b1312025-915c-44e3-ab07-a36d495c0a30.jpg" />
            
            <!-- <div class="design-zone1 flex-row align-center">
                <div class="flex-column">
                    <div class="desc-title"></div>
                    <p></p>
                    <p></p>
                </div>
            </div>
            
            <div class="flex-row align-center">
                <div class="">
                    <img src="" />
                    <p></p>
                </div>
                <div class="">
                    <img src="" />
                    <p></p>
                </div>
                <div class="">
                    <img src="" />
                    <p></p>
                </div>
            </div>
            
            <div class="">
                <p></p>
            </div>
            
            <div class="">
                <p></p>
            </div>
            
            <div class="flex-column align-center">
                <div class="flex-row justify-around">
                    <img src="" />
                    <img src="" />
                    <img src="" />
                </div>
                <div class="">
                    <p></p>
                </div>
            </div>
            
            <div class="flex-row align-center">
                <div class="flex-column">
                    <p></p>
                    <p></p>
                    <p style="font-weight: bold;"></p>
                </div>
                <img src="" />
            </div>
            
            <div class="flex-row align-center">
                <img src="" />
                <div class="flex-column">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            
            <div class="">
                <div class="">
                    <div class="desc-title"></div>
                    <p></p>
                </div>
            </div>
            
            <div class="flex-row align-center">
                <img src="" />
                <div class="">
                    <p></p>
                </div>
                <img src="" />
            </div>
            
            <div class="flex-row align-center ">
                <div class="flex-column">
                    <div class="desc-title"></div>
                    <p></p>
                    <p></p>
                </div>
                <div class="flex-column justify-between">
                    <img src="" />
                    <img src="" />
                </div>
                <div class="flex-column justify-between">
                    <img src="" />
                    <img src="" />
                </div>
            </div>
            
            <div class="">
                <div class="">
                    <div class="desc-title"></div>
                    <p></p>
                </div>
            </div>
            
            <div class="flex-row align-center justify-between">
                <div class="flex-column align-center">
                    <img src="" />
                    <p></p>
                </div>
                <div class="flex-column align-center">
                    <img src="" />
                    <p></p>
                </div>
            </div>
            
            <div class="flex-row align-center">
                <img src="" />
                <div class="flex-column">
                    <p></p>
                    <p></p>
                </div>
            </div>
            
            <div class="flex-row align-center">
                <img src="" />
                <div class="flex-column">
                    <div class="desc-title"></div>
                    <p></p>
                </div>
            </div>
            
            <div class="flex-row align-center justify-around">
                <div class="flex-column">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="flex-column justify-between">
                    <img src="" />
                    <img src="" />
                </div>
                <div class="">
                    <img src="" />
                </div>
            </div>
            
            <div class="flex-column align-center">
                <img src="" />
                <p></p>
            </div> -->
        </main>
        
        <!-- 底部 -->
        {% include 'footer.html' %}
    </div>
    

    

    

</body>

</html>

