/* flex-布局 */
.flex-row {
    display: flex !important;
    flex-direction: row; 
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

@font-face {
    font-family: 'cmunrm';
    src: url('/static/cmunrm.ttf');
}


* {
    margin: 0;
    padding: 0;
    cursor: url("https://vkceyugu.cdn.bspapp.com/VKCEYUGU-49bdbaed-e3f4-48f9-a64f-e563b0edcd86/b6f3c4db-b8e6-4ee2-83bc-934e26f3e634.jpg") 4 4, auto
}

/* body */
body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
}


/* main */
main {
    margin-left: 20vw;
    width: 79vw;
    min-height: 100%;
    background-color: #fff;
}

.cover-box {
    background-image: url('https://vkceyugu.cdn.bspapp.com/VKCEYUGU-49bdbaed-e3f4-48f9-a64f-e563b0edcd86/d203b0ef-6d75-4ebf-8bcc-faa282119970.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 79vw;
    height: 51.5vw;
    position: relative;
}

.desc-title {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'cmunrm';
    
}


/* design */

.desi-intro {
    height: 300px;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.8;
    font-weight: bold;
    background-color: #000;
    padding: 0 15%;
}

.design-total-img {
    margin-top: 50px;
    width: 100%;
}

.cover-box .desc-title {
    color: #000;
    font-size: 6rem;
    margin-bottom: 14rem;
}

.design-zone1 {
    width: 100%;
    height: 20vh;
    background-image: url('https://vkceyugu.cdn.bspapp.com/VKCEYUGU-49bdbaed-e3f4-48f9-a64f-e563b0edcd86/960f1af5-ee60-456d-a8ac-0e7ba6dbe152.JPG');
}

.design-zone2 {

}

.design-zone3 {

}

.design-zone4 {

}

.design-zone5 {

}

/* about */

/* 轮播图 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.slider-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

.slider {
    height: 100%;
}

.slider .slider-list {
    position: relative;
    height: 100%;
}

.slider .slider-list .item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.slider .slider-list .item.cur {
    display: block;
}

.yuan {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.yuan .yuan-item {
    display: block;
    position: relative;
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 1px;
    cursor: pointer;
}

.yuan .yuan-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    box-sizing: border-box;
}

.yuan .yuan-item.cur::after {
    background: #fff;
}

.yuan .yuan-item::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
}

.yuan .yuan-item.cur::before {
    background-color: rgba(255, 255, 255, .2);
}

.btn-group {
    width: 100%;
}

.btn-group .btn-left,
.btn-group .btn-right {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, .5);
    border-radius: 50%;
    cursor: pointer;
    font-family: "宋体";
}

.btn-group .btn-left {
    left: 15px;
    top: 50%;
    margin-top: -25px;
}

.btn-group .btn-right {
    right: 15px;
    top: 50%;
    margin-top: -25px;
}

/* 轮播图结束 */


.about-content {
    width: 80vw;
    /* height: 100vh; */
    
}

.about-content-text {
    width: 60%;
    padding: 3%;
    /* height: 100vh; */
    line-height: 1.6em;
    font-size: 1.4rem;
}

.about-content-text .title {
    font-weight:1000;
    font-size: 4rem;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin-bottom: 4rem;
}

.about-content-text .intro {
    font-size: 1.6rem;
    text-align: center;
    width: 90%;
    margin-bottom: 1rem;
    font-family: 'cmunrm';
}

.about-content-text .intro-desc {
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 2em;
}   





.about-content-img {
    width: 40%;
    height: 100vh;
}


/* kungfu */
.kungfu-box {
    margin-left: 21vw;
    width: 78%;
    color: #fff;
}

.layui-field-title {
    margin-top: 20px !important;
}

.kungfu-title {
    font-family: 'cmunrm';
    margin-top: 2rem !important;
    color: #039090;
}

.kungfu-subtitle {
    font-family: 'cmunrm';
    margin-top: 2rem !important;
    color: #04c0c0;
}

.kungfu-subsubtitle {
    font-family: 'cmunrm';
    margin-top: 2rem !important;
    color: #69f6f6;
}

.layui-timeline-title {
    color: #69f6f6 !important;
    font-family: 'cmunrm';
    font-size: 1.3rem !important;
}

.layui-elem-quote {
    border-left: 5px solid #5fe8dd;
    background-color: #000000;
    color: #c8c8c8;
    font-family: 'cmunrm';
}

p {
    text-indent: 2em !important;
    word-break: break-word !important;  
    line-height: 1.6 !important;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    width: 96%;
}

#test10, #test11, #test12, #test13, #dream-test12,#dream-test13,#dream-test14{
    margin: 0 auto;
    margin-top: 2rem;
}

.award-img-box {
    width: 100%;
}

.award-img-box div {
    width: 50%;
}

/* arts */

.arts-cover-box {
    width: 100%;
}

.arts-cover-img {
    width: 60%;
}

.arts-cover-icon {
    width: 14%;
}

.arts-cover-text {
    width: 26%;
    font-size: 5rem;
    font-family: 'cmunrm';
}

.carousel-desc {
    height: 7%;
    text-align: right;
    padding-right: 50px;
    padding-top: 1%;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

.kungfu-box > img {
    width: 80%;
    margin: 0 0 0 10%;
}

.link{
    color: #108b96;
}

.link :hover {
    color: #87c0ca;
}

.kungfu-box > img {
    box-shadow: 2px 2px 10px #fff;
}

.content-img-row-2 {
    width: 96%;
    margin: 0 auto;
}

.content-img-row-2 > img {
    box-shadow: 2px 2px 10px #fff;
    width: 48%;
}


#dream-test12,#dream-test13,#dream-test14 > div {
    width: 100%;
    height: 100%;
    position: relative;
}

#dream-test12,#dream-test12,#dream-test12 > div > img {
    height: 100%;
}

.peach-cover-box {
    position: absolute;
    right: 6vw;
    top: 30vw;
    display: flex;
    z-index: 999;
    flex-direction: row;
    justify-content: space-between;
    width: 10vw;
    color: #fff;
}

.peach-cover-text {
    font-size: 2rem;
    font-family: 'cmunrm';
    font-weight: bold;
}

.peach-desc {
    position: absolute;
    right: 2vw;
    bottom: 2vw;
    z-index: 999;
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

.layui-carousel-ind {
    height: 20px !important;

}


/* 加载动画 */
#loading {
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #03030c;
    width: 100vw;
    height: 100vh;
}

#loading-content {
    width: 50%;
    
}


.layui-carousel>[carousel-item]>* {
    background-color: #000 !important;
}

.layui-carousel {
    box-shadow: 2px 2px 10px #fff;
}